header {
    background: linear-gradient(to right, #b0cae5, #5067d9);
    height: 10.5vh;
    width: 100%;
    padding: 0; 
    margin: 0px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: 1;
}
.buttonusual {
    background: #6a82dc;
    border-radius: 10px;
    font-size: 1.8vw;
    border-color: black;
    margin: 3vh 1vw 3vh 1vw;
    position: relative;
    float: right;
}
.buttonusual2 {
    background: #6a82dc;
    border-radius: 10px;
    font-size: 1.8vw;
    border-color: black;
    margin: 3vh 1vw 3vh 1vw;
    position: relative;
}
.buttonset {
    background: white;
    border: 0;
    margin: 0;
    width: 15%;
    height: 15%;
    float: none;
}
.headeralign {
    text-align: right;
}
body {
    margin: 0;
    background: #cadef6;
}
.nicknamealign {
    text-align: left;
    margin-left: 20px;
    font-size: 1.8vw;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
.nicknamealign2 {
    text-align: left;
    margin: 5px 0px 0px 0px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
#filter {
    margin-top: 0px;
    float: left;
    width: 15%;
    background: #dcdcdc;
    height: 100vh;
    position: fixed;
    z-index: 0;
}
#filter input {
    height: 2vw;
    font-size: 1vw;
}
#filter select {
    height: 2vw;
    font-size: 1vw;
}
#mainbox {
    align-self: auto;
    background: white;
    width: 60%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2%;
}
footer {
    background: linear-gradient(to right, #b0cae5, #5067d9);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    padding: 0; 
    margin: 0px; 
    height: 11vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerelements {
    position: relative;
    display: flex;
    margin-top: 1vw;
    margin-bottom: 6vw;
    justify-content: space-between;
}
.base {
    margin-left: 10px;
}
.base2 {
    margin-left: 10px;
    margin-top: 5px;
}
.post {
    width: 33%;
    height: 40%;
    margin: 5px;
}
.photo {
    text-align: center;
    border-collapse: collapse;
    border-color: black;
    border-radius: 3px;
    border-width: 3px;
    width: 100%;
    
    border-style: groove;
    padding: 0;
}
.imgstyle {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.iconstyles {
    width: 100%;
    height: 100%;
}
.nickandicons {
    width: 100%;
    max-height: calc(100%*2/16);
    border-style: none;
    text-align: left;
    font-size: 2vw;
    text-decoration-style: wavy;
}
.date {
    width: 100%;
    max-height: calc(100%*2/16);
    font-size: 1vw;
    text-align: left;
}
.mainplacing {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}
.filterelements {
    position: relative;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.base3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.base4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width: 960px) {
    .post {
        width: 33%;
        height: 40%;
        margin: 4px;
    }
    .mainplacing {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .filterelements {
        position: relative;
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media screen and (max-width: 768px) {
    .post {
        width: 33%;
        height: 40%;
        margin: 3px;
    }
    .mainplacing {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .filterelements {
        position: relative;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        justify-content: space-between;
    }
}