header {
    background: linear-gradient(to right, #b0cae5, #5067d9);
    height: 70px;
    width: 100%;
    padding: 0; 
    margin: 0px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
}
button {
    background: #6a82dc;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
    margin: 20px 20px 10px 10px;
    position: relative;
    float: right;
}
.headeralign {
    text-align: right;
}
body {
    margin: 0;
    background: #cadef6;
}
.nicknamealign {
    text-align: left;
    margin-left: 20px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
#filter {
    margin-top: 0px;
    float: left;
    width: 15%;
    background: #dcdcdc;
    height: 80%;
    position: fixed;
}
#mainbox {
    position: static;
    align-self: auto;
    background: white;
    width: 60%;
    min-height: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
footer {
    background: linear-gradient(to right, #b0cae5, #5067d9);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    padding: 0; 
    margin: 0px; 
    height: 70px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerelements {
    
    display: inline-block;
}
@media screen and (max-width: 960px) {
    
}
@media screen and (max-width: 768px) {
    
}